.tableRound {
  border-radius: 15px;
}
.scrollable {
  height: 40vh;
  overflow: auto;
  border-radius: 15px;
  border: 1px solid black;
  margin-left: 5px;
  margin-bottom: 40px;
}

table {
  color: black;
}